header {
  width: min(88%, 700px);
  margin-inline: auto;
  border: 3px solid var(--header-outline);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: max(4em, 100px);
}

.score {
  height: clamp(6em, 20vw, 100px);
  width: clamp(6em, 25vw, 20%);
  background-color: #ffffff;
  color: var(--bg-drk);
  border-radius: 5px;
  padding-top: 0.7em;
  display: flex;
  justify-content: center;
  align-items: start;
}

svg {
  display: block;
  margin-inline: auto;
}

.center {
  display: grid;
  place-items: center;
}
