:host {
  min-height: 100vh;
  padding-top: 20px;
}

header {
  width: min(88%, 700px);
  margin-inline: auto;
  border: 3px solid var(--header-outline);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: max(4em, 100px);
}

main {
  height: 600px;
  position: relative;
}

#game {
  height: 500px; /* Temporary container */
}

/* .rules {
  position: absolute;
  bottom: 5em;
} */

.rules button {
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding-top: 0.5em;
  padding-bottom: 0.45em;
  padding-inline: 1.6em;
  margin-inline: auto;
}

@media (min-width: 1279px) {
  .rules button {
    margin-left: auto;
    margin-right: 2em;
    padding-inline: 2em;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.modal p {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bg-drk);
  text-align: center;
  margin-top: 3em;
}

.modal img {
  margin-inline: auto;
  margin-top: 6em;
}

.modal button {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  bottom: 5em;
  left: 50%;
}
