.easy-section {
  background-image: url('../images/bg-triangle.svg');
  width: 305px;
  height: 277px;
  position: relative;
}

.img-space {
  background-color: white;
  width: 120px;
  height: 120px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  border: 15px solid;
}

.img-space:hover {
  cursor: pointer;
}

.paper-img-space {
  top: 0;
  left: 0;
  transform: translate(-10%, -30%);
  border-color: var(--Paper-Gradient-1);
}

.scissors-img-space {
  top: 0;
  right: 0;
  transform: translate(10%, -30%);
  border-color: var(--Scissors-Gradient-1);
}

.rock-img-space {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2%);
  border-color: var(--Rock-Gradient-1);
}
