/* You can add global styles to this file, and also import other style files */
:root {
  /* Neutral colors */
  --bg-drk: hsl(229, 25%, 31%);
  --score-txt: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #ffffff;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%) 30%,
    hsl(237, 49%, 15%) 70%
  );
  /* background-position: top; */
}

button {
  background: transparent;
}

img {
  display: block;
  max-width: 100%;
}
